p{color: green;}
.note{color: orange;}
#intro{color: purple;}
#hi{color: rgb(226, 226, 42);}
#new{color: rgb(104, 75, 131);}
.box{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: rgb(225, 209, 188);
}
div p{
    color: yellow;
}