p{
    color: rgb(18, 12, 6);
    font-size: 14px;
}
body{
    font-family: Arial;
    background-color: rgb(150, 124, 90);
    text-decoration: none;
}
h1{
    color: rgb(190, 26, 190);
}
h2{
    color: rgb(55, 139, 212);
}